{
    "semi": true,
    "singleQuote": true,
    "useTabs": false,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "trailingComma": "all",
    "printWidth": 80,
    "tabWidth": 2,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "plugins": ["prettier-plugin-tailwindcss"]
}
